<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>bottom.htm</title>
	<link href="<%=media%>/xunfeng_base_files/stylesheet.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/utils.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/errhandler.js">
</script><script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/validation.js">
</script>

  </head>
  
  <body marginwidth="0" marginheight="0">
 <div id="page-footer-separator"></div><div id="page-footer-copyright">
Copyright © 1996-2012 JIANGSU FRONTIER ELECTRIC TECHNOLOGY Co.LTD. All rights reserved.<br><a href="http://frontier.js.sgcc.com.cn/" target="_blank">
frontier.js.sgcc.com.cn/</a></div>
  

</body></html>