<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>left.htm</title>
    <link href="<%=media%>/xunfeng_base_files/stylesheet.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/utils.js"></script>
    <script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/errhandler.js">
    </script><script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/validation.js">
    </script>

</head>


<body marginwidth="0" marginheight="0">
<div id="page-navigation-menu"><ul>
        <li><a href="home" target="_parent">Home</a></li>
        <li class="submenu">Configuration<ul>
                <li><a href="network" target="_parent">Network</a></li>
                <li><a href="system" target="_parent">System</a></li>
                <li><a href="user" target="_parent">User</a></li>
            </ul>
        </li>
        <li class="submenu">Applications<ul>
                <li><a href="serial ports" target="_parent">Serial Ports</a></li>
            </ul>
        </li>
        <li class="submenu">Management<ul>
                <li><a href="view" target="_parent">View Connections</a></li>
            </ul>
        </li>
        <li class="submenu">Administration<ul>
                <li><a href="backup" target="_parent">Backup/Restore</a></li>
                <li><a href="update" target="_parent">Update Firmware</a></li>
                <li><a href="system information" target="_parent">System Information</a></li>
                <li><a href="system tools" target="_parent">System Tools</a></li>

                <li><a href="system log" target="_parent">System Log</a></li>
                <li><a href="reboot" target="_parent">Reboot</a></li>
            </ul>
        </li>
        <li><a href="doLogout" target="_parent">Logout</a></li>
    </ul></div>


</body></html>