<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>RFS Terminal Server 16  Configuration and Management</title>
<link href="<%=media%>/xunfeng_base_files/stylesheet.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/utils.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/errhandler.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/validation.js"></script>
	
<script type="text/javascript" language="javascript">
	var index = 0;
	function setDhcpState1(val) {
		if(val==1){
			document.network_form.ip_addr1.disabled=true;
			document.network_form.submask1.disabled=true;
			document.network_form.gw_addr1.disabled=true;
		}else{
			document.network_form.ip_addr1.disabled=false;
			document.network_form.submask1.disabled=false;
			document.network_form.gw_addr1.disabled=false;
		}
	}
	function setDhcpState2(val) {
		if(val==1){
			document.network_form.ip_addr2.disabled=true;
			document.network_form.submask2.disabled=true;
			document.network_form.gw_addr2.disabled=true;
		}else{
			document.network_form.ip_addr2.disabled=false;
			document.network_form.submask2.disabled=false;
			document.network_form.gw_addr2.disabled=false;
		}
	}
	var err = new ErrorHandler();
	function doValidate() {
		err.clearErrors();
		var ip1 = document.network_form.ip_addr1;
		var submask1 = document.network_form.submask1;
		var gw1 = document.network_form.gw_addr1;
		var primary_dns1 = document.network_form.primary_dns1;
		var secondary_dns1 = document.network_form.secondary_dns1;
		var ip2 = document.network_form.ip_addr2;
		var submask2 = document.network_form.submask2;
		var gw2 = document.network_form.gw_addr2;
		var eth0mtu=document.network_form.eth0mtu;
		var eth1mtu=document.network_form.eth1mtu;
		// ----
		ip1.value = trim(ip1.value);
		submask1.value = trim(submask1.value);
		gw1.value = trim(gw1.value);
		primary_dns1.value=trim(primary_dns1.value);
		secondary_dns1.value=trim(secondary_dns1.value);
		ip2.value = trim(ip2.value);
		submask2.value = trim(submask2.value);
		gw2.value = trim(gw2.value);
		// -----
		if (gw1.value.length == 0)
			gw1.value = '0.0.0.0';
		if (gw2.value.length == 0)
			gw2.value = '0.0.0.0';
		// -----

		if (document.network_form.rbDHCP1[0].checked) {
			if (!isDottedForm(ip1.value))
				ip1.value = '0.0.0.0';
			if (!isDottedForm(submask1.value))
				submask1.value = '0.0.0.0';
			if (!isDottedForm(gw1.value))
				gw1.value = '0.0.0.0';
		} else {
			if (!isValidIP(ip1.value))
				err.addError(ip1, 'Invalid or missing IP address.');
			if (!isDottedForm(submask1.value))
				err.addError(submask1, 'Invalid or missing subnet mask.');
			if (!isValidIP(gw1.value))
				err.addError(gw1, 'Invalid or missing default gateway address.');
		}
		if (document.network_form.rbDHCP2[0].checked) {
			if (!isDottedForm(ip2.value))
				ip2.value = '0.0.0.0';
			if (!isDottedForm(submask2.value))
				submask2.value = '0.0.0.0';
			if (!isDottedForm(gw2.value))
				gw2.value = '0.0.0.0';
		} else {
			if (!isValidIP(ip2.value))
				err.addError(ip2, 'Invalid or missing IP address.');
			if (!isDottedForm(submask2.value))
				err.addError(submask2, 'Invalid or missing subnet mask.');
			if (!isValidIP(gw2.value))
				err.addError(gw2, 'Invalid or missing default gateway address.');
		}
		if(!isValidInteger(eth0mtu.value))
		  err.addError(eth0mtu,'Invalid input format .');
		if(!isValidInteger(eth1mtu.value))
		  err.addError(eth1mtu,'Invalid input format.');
		err.showError();
		return !err.hasError();
	}
</script>
	
	
</head>
<body onload="" onunload="" id="mainbody">
	<iframe src="<%=url("xunfeng", "tophtm")%>" width="100%" height="82" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe>
	<table width="100%">
		<tbody>
			<tr>
				<td valign="top"><iframe src="<%=url("xunfeng", "lefthtm")%>" width="200" height="500" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe></td>
				<td valign="top" width="100%"><div id="page-content">
						<div id="page-content-messages"></div>
						<div id="page-content-help"></div>

						<div id="page-content-body">
							<div class="page-heading">
								<h2>Network Configuration</h2>
							</div>
							<div class="page-htmlcontent">
								<div class="tab-content">
									<div class="tab-content-heading">
										<img src="<%=resource%>/xunfeng_resource/image/tabopen.gif" alt="Tab Open">
										<h3 class="tab-selected">IP Settings</h3>
									</div>
									<div class="tab-content-body">
										<form method="POST" action="doConfigNet" name="network_form" onsubmit="return doValidate();" class="form-content">
											<table cellspacing="5" cellpadding="0">
												<tbody>
													<tr>
														<th>LAN1</th>
													</tr>
													<tr>
														<td colspan="4" class="field-checkbox"><input type="RADIO" name="rbDHCP1" value="on" onclick="javascript:setDhcpState1(1);">&nbsp;Obtain an IP
															address automatically using DHCP *</td>
													</tr>
													<tr>
														<td colspan="4" class="field-checkbox"><input type="RADIO" name="rbDHCP1" value="off" checked="" onclick="setDhcpState1(0);">&nbsp;Use the
															following IP address:</td>
													</tr>
												</tbody>
											</table>
											<table cellspacing="5" cellpadding="0">
												<tbody>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">* IP Address:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="ip_addr1" size="15" maxlength="15" value="<%=luci.sys.exec("uci get network.lan.ipaddr")%>"></td>
													</tr>

													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">* Subnet Mask:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="submask1" size="15" maxlength="15" value="<%=luci.sys.exec("uci get network.lan.netmask")%>"></td>
													</tr>

													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">Default Gateway:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="gw_addr1" size="15" maxlength="15" value="<%=luci.sys.exec("uci get network.lan.gateway")%>"></td>
													</tr>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">MTU(1500):</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="eth0mtu" size="15" maxlength="15" value="1500"></td>
													</tr>

												</tbody>
											</table>

											<table cellspacing="5" cellpadding="0">
												<tbody>
													<tr></tr>
													<tr>
														<th>LAN2</th>
													</tr>
													<tr>
														<td colspan="4" class="field-checkbox"><input type="RADIO" name="rbDHCP2" value="on" onclick="setDhcpState2(1);">&nbsp;Obtain an IP
															address automatically using DHCP *</td>
													</tr>
													<tr>
														<td colspan="4" class="field-checkbox"><input type="RADIO" name="rbDHCP2" value="off" checked="" onclick="setDhcpState2();">&nbsp;Use the
															following IP address:</td>
													</tr>
												</tbody>
											</table>
											<table cellspacing="5" cellpadding="0">
												<tbody>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">* IP Address:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="ip_addr2" size="15" maxlength="15" value=""></td>
													</tr>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">* Subnet Mask:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="submask2" size="15" maxlength="15" value=""></td>
													</tr>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">Default Gateway:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="gw_addr2" size="15" maxlength="15" value=""></td>
													</tr>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">MTU(1500):</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="eth1mtu" size="15" maxlength="15" value="1500"></td>
													</tr>
													
													<tr><td colspan="4">&nbsp;</td></tr>
												</tbody>
											</table>

											<table cellspacing="5" cellpadding="0" align="left">
												<tbody>
													<tr></tr>
													<tr>
														<td>&nbsp;</td>
														<th colspan="2" align="right">DNS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td class="field-indent">&nbsp;</td>
														<td class="field-label">Static Primary DNS:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input"><input type="TEXT" name="primary_dns1" size="15" maxlength="15" value="<%=luci.sys.exec("uci get network.lan.dns | awk '{print $1}'")%>"></td>
													</tr>

													<tr>
														<td class="field-label">&nbsp;</td>
														<td class="field-label">Static Secondary DNS:</td>
														<td class="field-spacing">&nbsp;</td>
														<td class="field-input" colspan="3"><input type="TEXT" name="secondary_dns1" size="15" maxlength="15" value="<%=luci.sys.exec("uci get network.lan.dns | awk '{print $2}'")%>"></td>
													</tr>
												</tbody>
												
											</table>

											<p> * Changes DHCP, IP address, and Subnet Mask may
												effect your browser connection.</p>
											<div class="form-buttons">
												<div class="standard">
													<input type="Submit" name="Submit" value="Apply" onclick="return doValidate();">
												</div>
											</div>
										</form>
									</div>
								</div>

								<div class="tab-content">
									<div class="tab-content-heading">
										<img src="<%=resource%>/xunfeng_resource/image/tabclose.gif" alt="Tab Close">
										<h3>
											<a target="_parent"> Network Services Settings </a>
										</h3>
									</div>
								</div>
								<div class="tab-content">
									<div class="tab-content-heading">
										<img src="<%=resource%>/xunfeng_resource/image/tabclose.gif" alt="Tab Close">
										<h3>
											<a target="_parent"> Advanced Network Settings </a>
										</h3>
									</div>
								</div>
								<div class="tab-content">
									<div class="tab-content-heading">
										<img src="<%=resource%>/xunfeng_resource/image/tabclose.gif" alt="Tab Close">
										<h3>
											<a target="_parent"> VPN Settings </a>
										</h3>
									</div>
								</div>
							</div>
						</div>


					</div></td>
			</tr>
		</tbody>
	</table>
	<iframe src="<%=url("xunfeng", "bottomhtm")%>" width="100%" height="40" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe>


</body></html>
