<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>RFS Terminal Server 16  Configuration and Management</title>
<link href="<%=media%>/xunfeng_base_files/stylesheet.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/utils.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/errhandler.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/validation.js"></script>

</head>
<body onload="" onunload="" id="mainbody">
	<iframe src="/cgi-bin/luci/xunfeng/tophtm" width="100%" height="82" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe>
	<table width="100%">
		<tbody>
			<tr>
				<td valign="top"><iframe src="/cgi-bin/luci/xunfeng/lefthtm" width="200" height="500" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe></td>
				<td valign="top" width="100%">
					<div id="page-content">
						<div id="page-content-messages"></div>
						<div id="page-content-body">
							<div class="page-heading">
								<h2>Reboot</h2>
							</div>
							<div class="page-htmlcontent">
								<form method="POST" action="doReboot" name="reboot_form" class="form-content">
									<p>The reboot process will take approximately 1 minute to
										complete. Click Reboot now to reboot the Terminal Server 16 .</p>
									<div class="form-buttons">
										<div class="standard-custom">
											<input type="SUBMIT" name="Submit" value="Reboot">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<iframe src="/cgi-bin/luci/xunfeng/bottomhtm" width="100%" height="40" frameborder="0" marginwidth="”0″" marginheight="0" scrolling="no"></iframe>


</body></html>