<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>top.htm</title>
	<link href="<%=media%>/xunfeng_base_files/stylesheet.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/utils.js"></script>
<script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/errhandler.js">
</script><script type="text/javascript" language="javascript" src="<%=media%>/xunfeng_base_files/validation.js">
</script>

  </head>
  
  <body marginwidth="0" marginheight="0">
 <div id="page-header">
<div id="page-header-logo">
<a href="http://frontier.js.sgcc.com.cn/" target="_blank">
<img src="<%=resource%>/xunfeng_resource/image/xunfeng_logo.jpg" alt="logo" style="position:relative;left:0px;top:0px;">
</a></div>
<div id="page-header-title"><h1><br>
MSS 16  Configuration and Management
</h1></div>
</div>
<div id="page-header-separator"></div>
  

</body></html>